head {
      font-family = 'Papyrus';
      margin: 60px auto;
      font-size: 100%;
}

body {
      font-family: 'Papyrus';
      font-weight: bolder;
      font-size: 100%;
      margin: 60px auto;
      opacity: 1;
      transition: 1s opacity;
}

